ignore: |
  /tmp
  /.git

rules:
  braces: enable
  brackets:
    level: warning
  colons: enable
  commas: enable
  comments: disable
  comments-indentation: disable
  document-end: disable
  document-start: disable
  empty-lines: enable
  empty-values: enable
  hyphens: enable
  key-duplicates: enable
  key-ordering: disable
  line-length: disable
  new-line-at-end-of-file: disable
  new-lines: enable
  octal-values: enable
  quoted-strings: disable
  trailing-spaces: enable
  truthy:
    level: warning

  # accept both     key:
  #                   - item
  #
  # and             key:
  #                 - item
  indentation:
    spaces: 2
    indent-sequences: whatever
    check-multi-line-strings: false