apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: member-roles
objects:

- kind: Role
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: install-operator
    labels:
      provider: ksctl
  rules:
  - apiGroups:
    - operators.coreos.com
    resources:
    - "catalogsources"
    - "operatorgroups"
    - "subscriptions"
    verbs:
    - "get"
    - "list"
    - "create"
    - "patch"
    - "update"

- kind: Role
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: approve-operator-update
    labels:
      provider: ksctl
  rules:
  - apiGroups:
    - operators.coreos.com
    resources:
    - "installplans"
    verbs:
    - "get"
    - "list"
    - "create"
    - "patch"
    - "update"
    - "delete"

- kind: Role
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: restart-deployment
    labels:
      provider: ksctl
  rules:
  - apiGroups:
    - apps
    resources:
    - deployments
    verbs:
    - "get"
    - "list"
    - "patch"
    - "update"

- kind: Role
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: view-secrets
    labels:
      provider: ksctl
  rules:
  - apiGroups:
    - ""
    resources:
    - "secrets"
    verbs:
    - "get"
    - "list"

- kind: Role
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: edit-secrets
    labels:
      provider: ksctl
  rules:
  - apiGroups:
    - ""
    resources:
    - "secrets"
    verbs:
    - "get"
    - "list"
    - "watch"
    - "create"
    - "update"
    - "patch"

- kind: Role
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: configure-monitoring
    labels:
      provider: ksctl
  rules:
  - apiGroups:
    - ""
    resources:
    - "configmaps"
    - "secrets"
    - "serviceaccounts"
    - "services"
    verbs:
    - "create"
    - "update"
    - "get"
    - "list"
  - apiGroups:
    - ""
    resources:
    - "serviceaccounts/token"
    verbs:
    - "create"
  - apiGroups:
    - "apps"
    resources:
    - "deployments"
    - "statefulsets"
    verbs:
    - "create"
    - "update"
    - "get"
    - "list"
  - apiGroups:
    - "route.openshift.io"
    resources:
    - "routes"
    verbs:
    - "create"
    - "update"
    - "get"
    - "list"
  - apiGroups:
    - "monitoring.coreos.com"
    resources:
    - "prometheuses"
    - "prometheusrules"
    - "servicemonitors"
    verbs:
    - "create"
    - "update"
    - "get"
    - "list"

- kind: Role
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: edit-csv
    labels:
      provider: ksctl
  rules:
  - apiGroups:
    - operators.coreos.com
    resources:
    - "clusterserviceversions"
    verbs:
    - "get"
    - "list"
    - "patch"
    - "update"
